/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


/* #resume html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

.tg  {border-collapse:collapse;border-spacing:0; margin: 0 auto}
.tg td{border-style:solid;border-width:0px;font-size:10px;overflow:hidden;
  padding:2px 2px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-size:10px;font-weight:normal;
  overflow:hidden;padding:2px 2px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-u0o7{border-color:inherit;font-weight:bold;text-align:center;text-decoration:underline;vertical-align:top}
.tg .tg-wp8o{border-color:#000000;text-align:center;vertical-align:top}
.tg .tg-akbm{font-weight:bold;text-align:center;text-decoration:underline;vertical-align:top}

#resume {
	--font-scalar: 0.725;
	-webkit-print-color-adjust: exact;
}

/* HTML5 display-role reset for older browsers */
#resume article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
#resume body {
	line-height: 1;
}
#resume ol, ul {
	list-style: none;
}
#resume blockquote, q {
	quotes: none;
}
#resume blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
#resume table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/* end of reset */

#resume .disabled {
	visibility: hidden;
	display: none;
}

#resume .disabled-print {
	visibility: hidden;
	display: none;
}

#resume .screen-only {
	visibility: hidden;
	display: none;
}


#resume .u-fontScalar {
	font-size: calc(var(--font-scalar) * 100%)
}

#resume body {
	font: normal normal 400;
	font-size: calc(var(--font-scalar) * 100%);
	line-height: calc(var(--font-scalar) * 1.5em);
	font-family: Avenir,Verdana,sans-serif;
	margin-top: calc(var(--font-scalar) * 1.0em);
	margin-left: calc(var(--font-scalar) * 1.0em);
}

#resume table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 600px; /* Adjust this value as needed */
	margin-left: auto;
	margin-right: auto;
	line-height: 1.1em;
}

/* Title Subtitle */
#resume p {
	position: relative;
	margin-bottom: calc(var(--font-scalar) * 0.7em);
	margin-right: calc(var(--font-scalar) * 0em);
}

#resume code {
	font: normal normal;
	font-size: 90%;
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

/* Dates */
#resume code {
	text-align: right;
	display: block;
	float: right;
	clear: right;
	margin-top: calc(var(--font-scalar) * -2.0em);
}

/* Bullet Points */
#resume ul {
	position: relative;
	padding-left: 2.5%;
	margin-top: calc(var(--font-scalar) * -0.5em);
	margin-bottom: calc(var(--font-scalar) * 0.05em);
	font-size: calc(var(--font-scalar) * 100%);
}

#resume li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}

#resume li {
	/*second line indent*/
	/*color: #777;*/
	padding-left: calc(var(--font-scalar) * 1.25em);
	text-indent: calc(var(--font-scalar) * -0.50em);
	margin-top: calc(var(--font-scalar) * 0.15em);
}

#resume li ul {
	position: relative;
	left: 0;
	width: 100%;
}

#resume li strong {
  font-weight: 600; /* or 500 for even lighter bold */
}

/* General Header Settings */
#resume h1,h2,h3,h4 {
	font-weight: 600;
	font-family: Avenir,Cousine,Verdana,sans-serif;
}

/* Title Card */
#resume h1 {
	text-align: center;
	font-size: calc(var(--font-scalar) * 3em);
	line-height: calc(var(--font-scalar) * 1em);
	margin-bottom: -0.5em;
	padding: 1.0em;
	margin-top: -0.5em;
	background-color: #374458;
	color: #ffffff;
} 

#resume .u-contactInfo
{
	font-size: calc(var(--font-scalar) * 90%);
	background-color: #2B343F;
	color: #ffffff;
}

/* Section Headers */
#resume h2 {
	font-size: calc(var(--font-scalar) * 1.3em);
	color: #2e75b5;
	margin-top: calc(var(--font-scalar) * 2.5em);
	position: relative;
	text-align: left;
	border-bottom: 2px solid;
}

/* Listing */
#resume h3 {
	text-align: left;
	font-size: calc(var(--font-scalar) * 1.0em);
	line-height: calc(var(--font-scalar) * 1em);
	margin-top: calc(var(--font-scalar) * 1.0em);
	position: relative;
	padding-left: 2%;
	font-weight: 800;
}

#resume h3+p {
	text-align: left;
	font-size: calc(var(--font-scalar) * 1.0em);
	line-height: calc(var(--font-scalar) * 1em);
	margin-top: calc(var(--font-scalar) * 0.25em);
	position: relative;
	padding-left: 2%;
	font-style: italic;
	text-decoration: underline;
}

#resume h3+p .degree { 
	text-decoration: none !important;
	display: inline-block;
}

#resume .tech-skills {
  font-size: calc(var(--font-scalar) * 90%);
	padding-left: 2%;
}

 
#resume a {
	color: inherit;
	/*text-decoration:none*/
}

#resume a:hover {
	color:#39f
}

#resume #webaddress {
	text-align: center;
	margin-top: calc(var(--font-scalar) * 1em);
	position: relative;
	color: #bc412b;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: calc(var(--font-scalar) * 100%);
}

#resume #webaddress a {
	text-decoration: none;
}

#resume .u-project {
	color: inherit;
	text-decoration:none;
	font-weight: normal;
}


#resume em {
	/* font-weight: bold; */
	font-style: italic;
}

#resume strong {
	font-weight: bold;
}

#resume #address {
	display: none;
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
	margin-top: 7.5mm;  
	margin-bottom: 7.5mm;
} 

#resume body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin: 0px;  
} 